{% extends 'base.html' %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow-sm">
      <div class="card-body p-4">
        <h4 class="mb-3">Choose a new password</h4>
        <form method="post">
          {{ form.hidden_tag() }}
          <div class="mb-3">{{ form.password.label(class_='form-label') }}{{ form.password(class_='form-control') }}</div>
          <div class="mb-3">{{ form.confirm_password.label(class_='form-label') }}{{ form.confirm_password(class_='form-control') }}</div>
          {{ form.submit(class_='btn btn-primary') }}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
