{% extends "base.html" %}
{% block title %}{{ meta['og:title'] }}{% endblock %}
{% block content %}
<div class="row g-4">
  <div class="col-lg-8">
    {% set posts = [post] %}
    {% include "partials/post_cards.html" %}
  </div>
  <div class="col-lg-4">
    <div class="card bg-white border-0 shadow-sm h-100">
      <div class="card-body">
        <h4 class="card-title">Share this post</h4>
        <p class="text-muted">Quickly share the post to your favorite networks.</p>
        <div class="d-flex flex-column gap-2">
          <a class="btn btn-primary" href="{{ share_links.twitter }}" target="_blank" rel="noopener">Share to Twitter</a>
          <a class="btn btn-outline-secondary" href="{{ share_links.facebook }}" target="_blank" rel="noopener">Share to Facebook</a>
          <a class="btn btn-outline-success" href="{{ share_links.whatsapp }}" target="_blank" rel="noopener">Share to WhatsApp</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}